{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        uk.axvr/refrain
        {:git/sha "d005de46b689c7bacf9bd59b6c68b0d8bcb93e74"
         :git/url "https://github.com/axvr/refrain.git"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :exec-fn cognitect.test-runner.api/test}}}
